html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
    /* box-sizing: border-box;
  outline: 1px solid lawngreen !important; */
}
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  width: 100%;
}
html,
body,
p,
h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  background: #000000;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_burger {
  display: none;
  width: 18px;
  height: 10px;
  position: relative;
}

.burger_block {
  display: none;
}
.burger_line {
  display: none;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
.burger_line_one {
  top: 8px;
}
.burger_line_two {
  top: 50%;
  transform: translateY(-50%);
}
.burger_line_three {
  bottom: 8px;
}
.header_container {
  width: 1160px;
  display: flex;
  
  align-items: center;
  flex-direction: row;
}
.designed_header {
  margin-left: 440px;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 2px;
}

.header_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_logo {
  margin-right: 22px;
  width: 82px;
  position: relative;
}
.logo img {
  position: absolute;
  top: 29px;
  left: 11px;
}
.header_logo img {
  position: absolute;
  top: 40px;
  left: 11px;
}
.header_list {
  /* width: 1160px; */
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  text-decoration: none;
}

.header_link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.header_nav-mob {
  display: none;
}
li a:hover {
  color: #e47209;
}
.designed_header a:hover {
  color: #e47209;
}
.burger_block h1 {
  color: #f9804b;
  border: 1px solid #f9804b;
  margin-bottom: 0px;
}
 .hidden-burger {
  /* overflow: hidden; */
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} /*
.burger-width-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.2);
  transition: 0.5s all; 
 } */
.close_burger {
  width: 30px;
}
.header_item a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: #ffffff;
}
.header_item-bur a{
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: #000000;
}
.header_list {
  list-style-type: none;
}
.header_list-burger {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 0;
  text-decoration: none;
  flex-direction: column;
  list-style-type: none;
}
.header_item_donate a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: #e47209;
  cursor: default;
}
.panda {
  background-image: url(../../assets/images/panda_donate.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 390px;
  width: 100%;
}
.section-donation {
  padding-bottom: 178px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  display: flex;
  justify-content: center;
}
.section4_conteiner {
  width: 1160px;
  display: flex;
  flex-direction: column;
}
.section4_conteiner_mainTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 0;
}
.donate_info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  margin-bottom: 0;
  margin-top: 45px;
}
.section4_conteiner_title {
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.section4_content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-bottom: 62px;
}

.section4main {
  margin-right: 14px;
  margin-top: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}
.section4_title2 {
  margin-top: 21px;
  margin-right: 134px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}
.panda_diet {
  margin-top: 62px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.x_icon {
  margin-right: 64px;
  margin-top: 22px;
}
.panda_diet_day {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-right: 11px;
}
.input_panda {
  width: 268px;
  height: 54px;
  background-color: transparent;
}
.panda_diet_day p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
}
.check_pay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  margin-right: 25px;
  gap: 43px;
}
.check_pay label {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}
.check_pay input {
  cursor: pointer;
}

.slider {
  margin-top: 16px;
  width: 976px;
  height: 27px;

  background-color: #404950;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 89px;
  position: relative;
}

.slider_light {
  width: 915px;
  height: 2px;
  background-color: #72828e;
  position: absolute;
}

.share {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}

.form-control {
  width: 268px;
  height: 54px;
  padding-left: 15px;
  background-color: transparent;
  background: url(../../assets/icons/dollar.png);
  background-repeat: no-repeat;
  background-position: 96% center;
  border: 1px solid #929699;
  border-radius: 3px;
  color: #929699;
  margin-top: 10px;
  outline: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.form-control-footer {
  width: 228px;
  height: 42px;
  padding-left: 10px;
  background-color: transparent;

  border: 1px solid #929699;
  border-radius: 3px;
  color: #929699;
  
  outline: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.form-control:valid{
  color: #929699;
  border: 1px solid #929699;
}
.form-control:focus{
  border: 1px solid #4b9200;
  color: #4b9200;
  background: url(../../assets/icons/dollargreen.png);
  background-repeat: no-repeat;
  background-position: 96% center;
}
.form-control:invalid{
  border: 1px solid red;
  color: red;
  background: url(../../assets/icons/dollarred.png);
  background-repeat: no-repeat;
  background-position: 96% center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section3_btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  padding: 16px 35px;
  width: 298px;
  margin-top: 31px;
  margin-bottom: 30px;
  margin-left: 5px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;

}
.section3_btn:hover {
  background: #e47209;
}
.section3_btn:active {
  background: #4b9200;
}
.footer_btn:hover {
  background: #e47209;
}
.footer_btn:active {
  background: #4b9200;
}

.watchOnline {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* input[type="radio"],
label {
  cursor: pointer;
} */

.check_pay input[type="radio"] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.check_pay input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #fe9013;
}

.check_pay input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4b9200;
  transform: translate(-50%, -50%);
  visibility: visible;
}

footer {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 50px;
}
.footer_content {
  width: 1160px;
  display: flex;
  flex-direction: column;
}
.footer-line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-line2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-line3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_info {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
}
.logo {
  margin-top: 37px;
  width: 82px;
  position: relative;
}
.logo p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px;
}
.footer-tablet {
  display: none;
}
.footer-mobile {
  display: none;
}
.footer_btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  padding: 16px 35px;
  width: 298px;
  margin-top: 36px;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 45px;
  cursor: pointer;
}
.submit ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}
.form-control-btn {
  padding-left: 8px;
}

.footer_social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
.social_img {
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social:hover .social_img {
  background-color: #4b9200;
}
.social:hover a {
  color: #4b9200;
}
.social a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.footer_nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 118px;
}
.footer_subsk {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
}
.footer_subsk_tittle p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  letter-spacing: 0.2px;
  margin-top: 10px;
  
}
.footer_list {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.submit {
  margin-top: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.form-control-btn {
  border-radius: 2px;
  background-color: #000000;
  border-color: #e47209;
  outline: none;
  height: 42px;
  width: 228px;
  color: #e0d8f0;
}
.form-control-btn:focus {
  border-color: #4b9200;
}

.btn-primary {
  width: 129px;
  text-align: center;
  height: 42px;
  color: black;
  background-color: #f1f3f2;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.btn-primary:active {
  color: #4b9200;
  border-color: #4b9200;
}
.btn-primary:hover {
  color: #4b9200;
  border-color: #4b9200;
}
.designed_by {
  
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.designed_by p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}
.designed_by p:active {
  color: #4b9200;
  border-bottom: 1px solid;
  border-color: #4b9200;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 27px;
  justify-content: space-between;
}
.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}
.number-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
  cursor: pointer;
}
.line-label {
  width: 67px;
}

.slider-radio:checked ~ .slider_dot::before {
  opacity: 1;
  width: 25px;
  height: 25px;
}
.slider-radio:checked ~ .slider_dot::after {
  opacity: 1;
  width: 40px;
  height: 40px;

}
.slider_dot:before {
  transition: 0.2s;
  content: "";
  display: inline-block;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #e47209;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  z-index: 20;
  top: -8px;
  right: -8px;
}

.slider_dot:after {
  content: "";
  display: inline-block;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #e47209;
  background-color: transparent;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 20;
  opacity: 0;
}
.slider-radio:checked ~.line-label .number-text {
  color: #e47209;
}
.slider-radio {
transform: scale(5);
cursor: pointer;
opacity: 0;
z-index: 1000;
}
.slider_dot {
position: absolute;
top: 7px;
width: 10px;
height: 10px;
background-color: #FFEE2E;
border-radius: 50%;
z-index: 100;
transition: 0.2s;
outline: none;
}
.slider-main-title {
  align-self: flex-start;
  margin-left: 95px;
  margin-top: 42px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #000000;

}
@media screen and (max-width: 1170px) {
  .designed_header {
    margin-left: 280px;
  }
  .section4_conteiner {
    width: calc(100% - 60px);
  }
  .slider {
    margin-top: 18px;
    width: calc(100% - 130px);
    /* width: 810px; */
  }
  .slider_light {
    /* width: 785px; */
    width: calc(100% - 25px);
  }
  .footer_content {
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 1000px) { 
  .designed_header {
    margin-left: 260px;
  }
 .panda {
  background-position-x: 29%;
 }
  .section4_conteiner {
    /* width: 940px; */
    width: calc(100% - 60px);
  }
  .section4_conteiner_mainTitle {

    line-height: 129%;
    margin-bottom: 1px;
    width: calc(100% - 140px);
    margin-top: 40px;
}
  .section-donation {
    padding-bottom: 30px;
  }
  .footer_content {
    width: calc(100% - 60px);
  }
  .footer_list {
    gap: 48px;
  }
  .footer_nav {
    margin-left: 122px;
  }
  .footer_subsk {
    margin-right: 33px;
  }
  .section4_title2 {
    margin-right: 0;
    margin-top: 10px;
  }
  .section4_conteiner_title {
    margin-top: 29px;
  }
  .section4_content {
    margin-top: 40px;
    padding-bottom: 43px;
  }
  .slider-main-title {
    margin-left: 65px;
    margin-top: 42px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #000000;

  }
  .section4main {
    margin-top: 21px;
  }
  .slider {
    margin-top: 18px;
    width: calc(100% - 130px);
    /* width: 810px; */
  }
  .slider_light {
    /* width: 785px; */
    width: calc(100% - 25px);
  }
  .slider-item:first-child {
    display: none;
  }
  .line-label {
    width: 36px;
  }
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header_list {
    gap: 48px;
  }
 
 }
 @media screen and (max-width: 999px) {
.designed_header {
  margin-left: 80px;
}
 }
 @media screen and (max-width: 830px) {
  .designed_header {
    margin-left: 20px;
  }
  .header_list {
    gap: 28px;
  }
  .slider-item:nth-child(2) {
    display: none;
  }
  .slider-item:nth-child(3) {
    display: none;
  }

  .line-label {
    width: 72px;
  } 
   }
 @media screen and (max-width: 640px) { 
  .header_nav {
    display: none;
  }
  .header {
    padding-left: 20px;
    padding-right: 20px;
    height: 34px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .header_burger {
    display: block;
  }
  .burger_block {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.2);
     transform: translateX(100%);
     transition: 0.7s all ease 0s;
  }
  .burger_line {
    display: block;
  }
  .burger_block_active {
    z-index: 999;
    transform: translateX(0);
  }
  .close_burger {
    position: absolute;
    z-index: 1;
    right: 10px;
  }
  .inactive {
    display: none;
  }
  .header_nav-mob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    padding-left: 10px;
    width: 100%;
    height: 329px;
    background: #fff;
    box-shadow: 0px 4px 3px rgb(13 96 111 / 25%);
    border-radius: 10px;
  }
  .header_container {
    justify-content: space-between;
  }
  .header_logo {
    margin-right: 0;
    width: 0;
  }
  .header_logo img {
    top: 20px;
    left: 0;
  }
  .section4_conteiner {
    width: calc(100% - 40px);
  }
  .section4_content {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .section4main {
    margin-top: 30px;
    margin-left: 14px;
  }
  .section4_title2 {
    margin-left: 0px;
    margin-top: 22px;
    margin-right: 0px;
    text-align: center;
  }
  .panda_diet {
    margin-top: 50px;
  }
  .designed_header {
    display: none;
  }
  h1 {
    font-size: 12.2899px;
line-height: 120%;
border: none;
  }
  
  .panda {
    background-position-x: 37%;
    height: 335px;
   }
 
  .section4_conteiner_mainTitle {
    font-size: 24px;
    margin-top: 28px;
    width: calc(100% - 20px);
  }
  .section-donation {
    padding-bottom: 46px;
  }
  .slider-item {
    gap: 23px;
  }
  .progress-bar {
    padding-left: 8px;
    padding-right: 8px;
  }
  .section4_conteiner_title {
    margin-top: 16px;
  }
  .donate_info {
    margin-top: 28px;
  }
   .slider {
    width: 100%;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
  } 
   .slider_light {
    width: calc(100% - 81px);
  } 
  .slider-item:nth-child(2) {
    display: none;
  }
  .slider-item:nth-child(3) {
    display: none;
  }
  .line-label {
    width: 45px;
  }
  .slider-main-title {
    margin-left: 9px;
    margin-top: 36px;
    margin-bottom: 6px;
  }
  .check_pay label {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
  .form-control {
    width: 180px;
    height: 42px;
    padding-left: 5px;
    margin-top: 10px;
  }
  .logo p {
    padding: 2px;
  }
  .check_pay {
    margin-top: 25px;
    margin-right: 34px;
    margin-left: 10px;
    gap: 35px;
  }
  .check_pay label {
    line-height: 107%;
  }
.footer_content {
  display: none;
}
footer {
  padding-bottom: 12px;
}
.footer-tablet {
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
padding-top: 12px;
justify-content: space-between;
}
.footer_list {
  gap: 36px;
}
.footer-column1 {
  display: flex;
  flex-direction: column;
}
.footer_nav {
  margin-left: 0;
}
.footer_btn {
  margin-top: 33px;
  margin-bottom: 97px;
}
.footer_social {
  gap: 20px;
}
.logo {
  margin-top: 0;
}
.footer-column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: flex-end;
}
.footer-mobile {
  display: none;
}
 }
 @media screen and (max-width: 600px) {
  /* .section4_conteiner {
    width: 500px;
  } */
  .section4_conteiner_mainTitle {
    font-size: 24px;
  }
  .section-donation {
    padding-bottom: 30px;
  }
  /* .slider {
    width: 470px;
  }
  .slider_light {
    width: 432px;
  } */
  .number-text {
    font-size: 13px;
  }
 }
 @media screen and (max-width: 470px) {
.header {
  height: 34px;
  padding-left: 8px;
  padding-right: 8px;
}
.designed_header {
  display: none;
}
.panda {
  background-position-x: 33%;
  height: 187px;
 }
h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12.2899px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  border: none;
}
.header_logo {
  width: 47px;
}

.header_list-burger {
  gap: 10px;
}
.header_logo img {
  top: 19px;
  left: 3px;
}
.section4_conteiner {
  width: 300px;
}
.section4_conteiner_mainTitle {
  font-size: 24px;
  width: 300px;
}
.section4_conteiner_title {
  line-height: 136%;
}
.section-donation {
  padding-bottom: 30px;
}
.section4_content {
  margin-top: 27px;
  margin-bottom: -11px;
  padding-bottom: 22px;
}
.slider {
  width: 300px;
  height: 13.5px;
  margin-bottom: 39px;
  padding-left: 0px;
    padding-right: 0px;
}
.slider_light {
  width: 262px;
}
.slider_dot {
  width: 5px;
  height: 5px;
  top: 4px;
}
.number-text {
  font-size: 13px;
}
.section3_btn {
  margin-top: 27px;
  margin-left: 0px;
}
.share {
  font-size: 15.8px;
}
.slider-item:nth-child(2) {
  display: none;
}
.slider-item:nth-child(3) {
  display: none;
}
.slider-item {
  gap: 11px;
}
.line-label {
  width: 26px;
}
.check_pay {
  margin-top: 22px;
  margin-right: 39px;
}
.panda_img img{
  width: 160px;
  height: 139px;
}
.section4main {
  font-size: 24px;
  margin-top: 22px;
}
.section4_title2 {
  font-size: 16px;
  margin-top: 10px;
}
.donate_info {
  font-size: 24px;
  margin-top: 33px;
}
.panda_diet {
  margin-top: 14px;
  margin-right: 0px;
}
.panda_diet_day {
  margin-top: 31px;
  gap: 8px;
  margin-right: 7px;
}

.panda_diet_day p { 
  font-size: 8px;
 }
 .panda_diet_day img {
  width: 23px;
  height: 32px;
 }
 .x_icon {
  margin-right: 37px;
    margin-top: 13px;
 }
 .x_icon img {
  width: 8px;
  height: 8px;
 }
.slider-main-title {
  margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 7px;
}
.footer-tablet {
  display: none;
}
footer {
padding-top: 20px;
padding-bottom: 17px;
}
.footer-mobile {
  width: 300px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_social {
  flex-direction: row;
  gap: 30px;
}
.footer_nav {
  margin-left: 0px;
}
.footer_list {
  gap: 31px;
}
.logo-mob p {
  border: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
color: #FFFFFF;
text-align: center;
}
.logo-mob {
  width: 128px;
  height: 23px;
}

.logo-mob img {
  position: absolute;
  top: 18px;
  left: 170px;
}
.footer_btn {
  margin-top: 0;
  margin-bottom: 0;
}
.designed_by p {
  font-size: 15px;
}

.slider-radio:checked ~ .slider_dot::before {
  opacity: 1;
  width: 15px;
  height: 15px;
  top: -5px;
  right: -5px;
}
.slider-radio:checked ~ .slider_dot::after {
  opacity: 1;
  width: 25px;
  height: 25px;
  top: -10px;
  left: -10px;
}
}