html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html {
    scroll-behavior: smooth;
    width: 100%;
  }
  body {
    width: 100%;
  }
html, body, p, h2{
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
   .header {
    background: #000000;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
.header_container {
    width: 1160px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.designed_header {
    margin-left: 440px;
}
  h1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
text-align: center;
color: #FFFFFF;
border: 1px solid #FFFFFF;
padding: 5px;
  }

  .header_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header_logo {
    margin-right: 22px;
    width: 82px;
  }
  .header_list {
    /* width: 1160px; */
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
    text-decoration: none;
  }
  
  .header_link {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 140%;
line-height: 140%;
text-align: center;
color: #ffffff;
cursor: pointer;
  }
  .header_item a {
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    color: #ffffff;
  }

  .section1 {
    background-image: url(../../assets/images/Giant\ Panda.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 780px; 
    width: 100%;

  }
.ellipse {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 465px;
 height: 465px; 
border-radius: 50%;
position: relative;
top: 12px;
left: calc(50% - 465px/2 + 239.5px);
} 
.elipse_title {
    display: flex;
    justify-content: center;
    position: relative;
    top: 74px;
    left: 90px;
}
.titleElipse {
 
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.yellow {
    color:#FFEE2E;  
}
.button_watch {
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
 border-radius: 25px;
 padding: 16px 35px;
 width: 298px;
 top: 135px;
 left: 176px;
 position: relative;
 display: flex;
 justify-content: center;
 height: 54px;
}
.watchOnline {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 140%;
 text-align: center; 
text-transform: uppercase;
color: #FFFFFF;
}
.section2 {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.section2_content {
    width: 1161px;
    display: flex;
    flex-direction: row;
}
.section2_content_title {
    display: flex;
    flex-direction: column;
    margin-left: 87px;
}
.section2_content_img img {
    width: 100%;
}
.title1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 20px;
}
.title2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;  
    margin-bottom: 54px;
}
.title3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41; 
    margin-bottom: 34px;
}
.title4 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
}
.section3 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    align-items: center;
} 
.section3_content {
    width: 1158px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section3_content_column {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.card_animals {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #FA6F32;
    border-radius: 5px;
}
.animals_img {
    width: 100%;
}
.card_animals_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 8px 10px 14px;
}
.name_animals {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}
.home_animals {
font-family: 'Roboto';
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #000000;
}
.section3_btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
 border-radius: 25px;
 padding: 16px 35px;
 width: 298px;
 margin-top: 80px;

}
.section4_btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
 border-radius: 25px;
 padding: 16px 35px;
 width: 298px;
}
.section4 {
    margin-top: 100px;
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
display: flex;
    justify-content: center;
}
.section4_content {
width: 1160px;
display: flex;
flex-direction: column;
align-items: center;
background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
border-radius: 20px;
padding-bottom: 59px;
}
.section4_card_img {
    width: 168px;
    height: 168px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
    border-color: #F9804B;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section4main {
    margin-top: 41px;
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
text-align: center;
color: #FE9013;
}
.section4_title2 {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}
.section4_title3 {
margin-top: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
color: #333B41;
}
.section4_title4 {
margin-top: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #333B41;
}
.section4_title5 {
    margin-top: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41; 
    text-align: center; 
}
.section4_title_center {
    padding-left: 40px;
}
.section4_pay {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}
.section4_card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section4_vector {
    display: flex;
    align-items: center;
}
.section_title_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 766px;
    margin-top: 30px;
    margin-bottom: 65px;
    justify-content: space-around;
}
.section4_card_title p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
.section5 {
    background-color: #FFFFFF;
    display: flex;
   justify-content: center;
   width: 100%;
}
.section5_content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.section5_content_title h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}
.feedback {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
}
.feedback_card {
width: 266px;
height: 391px;
background: #F1F3F2; 
border-radius: 20px;
border: 2px solid;
border-color: #F9804B;
padding-left: 13px;
padding-top: 15px;
}
.slider input{
    margin-top: 22px; 
    width: 599px;
    height: 8px;  
}
.slider input[type=range]::-webkit-slider-runnable-track {
    /* margin-top: 22px; 
    width: 599px;
    height: 8px; */
    background-color:#F5F7F6;   
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66) rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66) ;
}
input[type=range] {
    -webkit-appearance: none;
}
.slider_input::-webkit-slider-thumb {
appearance: none;
width: 115px;
height: 5px;
background: #FE9013;
border-radius: 5px;
cursor: pointer;
}


.section5_btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    padding: 16px 35px;
    width: 298px;
    margin-top: 31px;
    align-self: flex-start;
    margin-bottom: 180px;
}
.feedback_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.feedback_contacts {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.feedback_contacts_surname p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #000000;
}
.feedback_contacts_data p {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
}
.feedback_contacts_name {
    display: flex;
    flex-direction: column;
}
.feedback_title_p {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #767474;
}
.dot {
color: #BDBDBD;
}
footer {
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer_content {
    width: 1160px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 101px;
}
.footer_info {
    display: flex;
    flex-direction: row;  
    gap: 32px;
}
.footer_contacts {
    display: flex;
    flex-direction: column;  
}
.logo {
margin-top: 37px;
width: 82px;
}
.logo p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        padding: 5px;

}
.footer_btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    padding: 16px 35px;
    width: 298px;
    margin-top: 60px;
    align-self: flex-start;
    margin-bottom: 45px;
}
.footer_social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.social_img {
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social p {
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}
.footer_nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.footer_subsk {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
}
.footer_subsk_tittle p {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 120%;
color: #FFFFFF;
letter-spacing: 0.2px;
}
.footer_list {
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
  }
  .submit {
    margin-top: 14px;
  }
  .form-control {
    border-radius: 2px;
    background-color: #000000;
    border-color: #F9804B;
    outline:none;
    height: 42px;
    width: 228px;
    color: #E0D8F0;
  }
  .btn-primary {
    padding: 10px 39px;
    height: 42px;
    color: #4B9200;
    margin-left: 8px;
    /* border-color: #4B9200; */
  }
  .designed_by {
    margin-top: 216px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .designed_by p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }
@media screen and (min-width: 1601px) { 
.section1 {
    background-size: cover;  
}
 }