html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  /* box-sizing: border-box;
  outline: 1px solid lawngreen !important; */
  box-sizing: inherit;
}
/* .popup-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.2);
  transition: 0.5s all; 
 }  */
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  width: 100%;
}
html,
body,
p,
h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  background: #000000;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container {
  width: 1160px;
  display: flex;

  align-items: center;
  flex-direction: row;
}
.designed_header {
  margin-left: 440px; 
}
.designed_header a:hover {
  color: #e47209;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 2px;
}

.header_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_logo {
  margin-right: 22px;
  width: 82px;
  position: relative;
}
.logo img {
  position: absolute;
  top: 27px;
  left: 10px;
}
.header_logo img {
  position: absolute;
  top: 40px;
  left: 11px;
}
.header_list {
  /* width: 1160px; */
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  text-decoration: none;
}

.active {
  color: #c21111;
}

.header_link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.header_item_about a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  line-height: 140%;
  text-align: center;
  color: #e47209;
  cursor: default;
}
li a:hover {
  color: #e47209; /* Цвет текста активного пункта */
}

.header_item a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: #ffffff;
}

.section1 {
  background-image: url(../../assets/images/Giant\ Panda.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-height: 860px;
  height: 43.9vw;
  width: 100%;
  margin-bottom: 138px;
}
.ellipse {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  width: 465px;
  height: 465px;
  border-radius: 50%;
  position: relative;
  top: 12px;
  left: calc(50% - 465px / 2 + 239.5px);
}
.elipse_title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 74px;
  left: 90px;
}
.titleElipse {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(106.496px + 8 * (10vw / 989));
  /* font-size: 106.496px; */
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.yellow {
  color: #ffee2e;
}
.header_list-burger {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 0;
  text-decoration: none;
  flex-direction: column;
  list-style-type: none;
}
.header_burger {
  display: none;
  width: 18px;
  height: 10px;
  position: relative;
}
.burger_block h1 {
  color: #f9804b;
  border: 1px solid #f9804b;
  margin-bottom: 0px;
}
.close_burger {
  width: 30px;
}
.header_item-bur a{
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: #000000;
}
.burger_block {
  display: none;
}
.burger_line {
  display: none;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
.burger_line_one {
  top: 8px;
}
.burger_line_two {
  top: 50%;
  transform: translateY(-50%);
}
.burger_line_three {
  bottom: 8px;
}
.button_watch {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  padding: 16px 35px;
  width: 298px;
  top: 135px;
  left: 176px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 54px;
  cursor: pointer;
}
.button_watch-mobile {
  display: none;
}
.button_watch:hover {
  background: #e47209;
  transform: scale(1.03);
}
.button_watch:active {
  background: #4b9200;
}

.watchOnline {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.section2 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
 
  position: relative;
 
}
.section2::after {
  position: absolute;
  display: block;
  bottom: -82px;
  
}
.section2::after {
  content: url(../../assets/images/flower_foto.png);
  right: 0;
}

.section2_content {
  width: 1161px;
  display: flex;
  flex-direction: row;
}
.section2_content_title {
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  word-wrap: break-word;
  word-break: normal;
}
.section2_content_img img {
  width: 609px;
}
.section2_content_img1000 img{
  display: none;
}
.title1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 20px;
}
.title2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
  margin-bottom: 54px;
}
.title3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 34px;
}
.title4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
 
}
.section3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 175px;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section3_animals {
  width: 1158px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.section3_content {
  display: flex;
  width: 1322px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section3::before, .section3::after {
  position: absolute;
  display: block;
  bottom: -3px;
}
.section3::before {
  content: url(../../assets/images/palm_foto.png);
  left: 0;
}
.section3::after {
  content: url(../../assets/images/strelitzia.png);
  right: 0;
}
.section3_animals_arrowright , .section3_animals_arrowright-small{
  content: url(../../assets/icons/arrow_animals.svg);
 
  width: 62px;
  height: 62px;
  padding-left: 23px;
    padding-right: 23px;
  background-color: #f9804b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}
.section3_animals_arrow, .section3_animals_arrow-small {
  content: url(../../assets/icons/arrow2_animals.svg);
 
  width: 62px;
  height: 62px;
  padding-left: 23px;
    padding-right: 23px;
  background-color: #f9804b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}
.arrow-small {
  display: none;
}
.section3_animals_arrowright:active , .section3_animals_arrowright-small:active{
  background-color: #4b9200;
  transform: scale(1.03);
}
.section3_animals_arrow:active , .section3_animals_arrow-small:active {
  background-color: #4b9200;
  transform: scale(1.03);
}
.section3_content_column {
  display: flex;
  flex-direction: row;
  gap: 27px;
}
.card_animals {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #fa6f32;
  border-radius: 5px;
  cursor: pointer;
}
.card_animals_img img {
  transition: all 1s;
}
.card_animals:hover .card_animals_img img {
  filter: brightness(0.3);
  transform: scale(1.1);
}
.animals_img {
  width: 366px;
  height: 366px;
}
.card_animals_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 8px 10px 14px;
  transition: transform 1s;
}

.name_animals {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.card_animals:hover .card_animals_title {
  transform: translate(0, -370px);
}
.card_animals:hover .card_animals_title p {
  color: #e0d8f0;
}
.home_animal {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
.section3_btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  padding: 16px 35px;
  width: 298px;
  margin-top: 80px;
  cursor: pointer;
  margin-bottom: 100px;
}
.section3_btn:hover {
  background: #e47209;
  transform: scale(1.03);
}
.section3_btn:active {
  background: #4b9200;
}
.section4_btn:hover {
  background: #e47209;
  transform: scale(1.03);
}
.section4_btn:active {
  background: #4b9200;
}
.section4_btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  padding: 16px 35px;
  width: 298px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.section4 {
 
  padding-top: 69px;
  padding-bottom: 100px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  display: flex;
  justify-content: center;
}
.arrow-mob {
  display: none;
}
.section4_content {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-bottom: 59px;
}
.section4_title4 a {
  border-bottom: 1px solid;
  border-color: #e47209;
  color: #333b41;
}
.section4_card_img {
  width: 168px;
  height: 168px;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 5px;
  border-color: #f9804b;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section4main {
  margin-top: 41px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}
.section4_title2 {
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}
.section4_title3 {
  margin-top: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}
.section4_title4 {
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}
.section4_title5 {
  margin-top: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  text-align: center;
}
.section4_title_center {
  padding-left: 100px;
}
.section4_pay {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.section4_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section4_vector {
  display: flex;
  align-items: center;
}

.section_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 766px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.section4_card_title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}
.section4_card_title {
  width: 168px;
}
.section4_card_title-mob {
  display: none;
}
.section4_card_title-mob p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}
.section5 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.section5::after {
  position: absolute;
  display: block;
  bottom: -106px;
}
.section5::after {
  content: url(../../assets/images/leav_foto.png);
  right: 0;
}
.section5_content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  
  align-items: center;
  width: 1160px;
}
.section5_content_title h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333b41;
}
/* .feedback_popup {
  display: none;
} */
.feedback {
  width: 1163px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 10px;
  
}
.feedback_wrapper {
  width: 3267px;
  display: flex;
  gap: 30px;
  position: relative;
  left: 0;
  /* transform: translateX(-30px); */
}
.feedback_card {
  width: 268px;
  
 
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
}
.feedback_content {
  display: flex;
  height: 391px;
/* width: 263px; */
  flex-direction: column;
  gap: 10px;
  padding-left: 13px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 17px;
  background: #f1f3f2;
  border-radius: 20px;
}
.feedback_card:first-child {
  margin-left: 0px;
}
.slider input {
  margin-top: 22px;
  width: 599px;
  height: 8px;
}
.slider input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f5f7f6;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66)
    rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66);
}
input[type="range"] {
  -webkit-appearance: none;
}
.slider_input::-webkit-slider-thumb {
  appearance: none;
  width: 74.875px;
  height: 5px;
  background: #fe9013;
  border-radius: 5px;
  cursor: pointer;
}

.section5_btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  padding: 16px 35px;
  width: 298px;
  margin-top: 27px;
  align-self: flex-start;
  margin-bottom: 180px;
  cursor: pointer;
}
.section5_btn:hover {
  background: #e47209;
  transform: scale(1.03);
}
.section5_btn:active {
  background: #4b9200;
}

.feedback_contacts {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.feedback_contacts_surname p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.feedback_contacts_data p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}
.feedback_contacts_name {
  display: flex;
  flex-direction: column;
}
.feedback_title_p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 17;
  overflow: hidden;
}
.dot {
  color: #bdbdbd;
}
footer {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 50px;
}
.footer-tablet {
  display: none;
}
.footer-mobile {
  display: none;
}
.footer_content {
  width: 1160px;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 24px;
  gap: 101px; */
}
.footer-line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-line2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-line3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_info {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
}
.logo {
  margin-top: 36px;
  width: 82px;
  position: relative;
}
.logo p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px;
}
.footer_btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  padding: 16px 35px;
  width: 298px;
  margin-top: 37px;
  align-self: flex-start;
  margin-bottom: 45px;
  cursor: pointer;
  text-align: center;
}
.footer_btn:hover {
  background: #e47209;
  transform: scale(1.03);
}
.footer_btn:active {
  background: #4b9200;
}
.footer_social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
.social_img {
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social:hover .social_img {
  background-color: #4b9200;
}
.social:hover a {
  color: #4b9200;
}
.social a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}
/* .feedback_title_p-minimob{
  display: none;
  } */

.footer_nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 117px;
}
.footer_subsk {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 40px;
}
.footer_subsk_tittle p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  letter-spacing: 0.2px;
}
.footer_list {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.submit {
  margin-top: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.form-control {
  border-radius: 2px;
  background-color: #000000;
  border-color: #f9804b;
  outline: none;
  height: 42px;
  width: 228px;
  color: #e0d8f0;
  padding-left: 8px;
}
.form-control:focus {
  border-color: #4b9200;
}
.submit ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}
.btn-primary {
  width: 129px;
  text-align: center;
  height: 42px;
  color: black;
  background-color: #f1f3f2;
  border-color: black;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.btn-primary:active {
  color: #4b9200;
  border-color: #4b9200;
}
.btn-primary:invalid {
  color: red;
  border-color: red;
}

.designed_by {
 
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.designed_by p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  cursor: pointer;
}
.designed_by p:active {
  color: #4b9200;
  border-bottom: 1px solid;
  border-color: #4b9200;
}
@media screen and (min-width: 1601px) {
  .section1 {
    background-size: cover;
  }
}
@media screen and (max-width: 1520px){
  .section2::after {
   display: none;
  } 
}
@media screen and (max-width: 1580px){
  .section3::before {
    content: url(../../assets/images/palm_foto-small.png);
    left: 0;
  }
}
@media screen and (max-width: 1400px) {
 .section3_content {
  width: 1170px;
 }
 .section3_animals_arrow {
  display: none;
}
.section3_animals_arrowright {
  display: none;
}
.arrow-small {
  display: flex;
    gap: 25px;
    justify-content: center;
}
 .designed_header {
  margin-left: 350px;
 }
 .section3_animals {
  width: 1100px;
  gap: 12px;
 }
 .section3_content {
  width: 940px;
 
}

.section3::after {
  content: url(../../assets/images/strelitzia-small.png);
  right: 0;
}

.animals_img {
  width: 294px;
  height: 294px;
}
.section3_content_column {
  gap: 26px;
  height: 356px;
}
 .button_watch {
  top: 87px;
 }
 .ellipse {
  width: 390px;
  height: 390px;
  top: 0;
 }
 .titleElipse {
  font-size: 83px;
 }
 .footer_content {
  width: calc(100% - 20px);
}
}
@media screen and (max-width: 1120px) {

.designed_header {
    margin-left: 260px;
}
.ellipse {
  width: calc(37%);
  height: calc(73%);
  top: -11px;
  left: calc(50% - 45px);
}
.titleElipse {
  font-size: 85px;
  line-height: 75%;
}
.elipse_title {
  top: 55px;
  left: 75px;
}
.section1 {
  background-size: 122%;
    background-position-x: 48%;
    background-position-y: 86%;
    height: 504px;
    margin-bottom: 109px;
}

.header {
position: relative;
z-index: 100;
  padding-left: 30px;
    padding-right: 30px;
}
.header_list {
  gap: 48px;
}
.button_watch {
  top: 96px;
  left: 108px;
}
.section2 {
  margin-top: 109px;
}
.title1 {
  margin-top: -10px;
    margin-bottom: 22px;
}
.section2_content {
  width: 940px;
}

.section2_content_img {
  display: none;
}
.section2_content_img1000 img{
  width: 455px;
  display: inline;
}
.section2_content_title {
  margin-left: 31px;
}
.section3 {
  margin-top: 142px;
  
}
.section3_content {
  width: 940px;
 
}
.section3_animals {
  gap: 12px;
}
.animals_img {
  width: 294px;
  height: 294px;
}
.section3_content_column {
  gap: 26px;
  height: 356px;
}

.arrow-small {
  display: flex;
flex-direction: row;
align-content: center;
    justify-content: center;
    gap: 171px;
}
.section3_animals_arrow {
  display: none;
}
.section3_animals_arrowright {
  display: none;
}
.card_animals:hover .card_animals_title {
  transform: translate(0, -300px);
}
.section4 {
    padding-top: 29px;
    padding-bottom: 50px;
    
}
.section4_content {
  width: 940px;
  padding-top: 40px;
  padding-bottom: 52px;
}
.section4main {
  margin-top: -9px;
  margin-bottom: -9px;
}
.section4_title3 {
  margin-top: 20px;
}
.section4_title5 {
  margin-top: 40px
}
.section4_btn {
  margin-top: 10px;
}
.section3_btn {
  margin-bottom: 141px;
}
.section4_vector {
  margin-bottom: 10px;
}
.section4_title_center {
  padding-left: 50px;
  padding-right: 47px;
}
.section5_content {
  width: calc(100% - 60px);
  margin-top: 62px;
}
.section5::after {
  content: url(../../assets/images/leav_foto-small.png);
  right: 0;
  bottom: -91px;
}
.feedback {
  margin-top: -5px;
  width: 940px;
}
.feedback_title_p {
  -webkit-line-clamp: 16;
}
.slider input {
  width: 390px;
  height: 8px;
  margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 23px;
}
.slider_input::-webkit-slider-thumb {
  width: 75px;
}
.feedback_card:last-child {
  display: none;
}
.feedback_content {
  padding-left: 16px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 37px;
}
.feedback_card {
 width: 291px;
}
.section5_btn {
  margin-bottom: 140px;
}
.footer_content {
  width: calc(100% - 60px);
}
.footer_subsk {
  margin-right: 32px;
}
.footer_nav {
  margin-left: 90px;
}
.footer_list {
  gap: 48px;
}
}
@media screen and (max-width: 998px) { 
.section3_content {
  width: 700px;
}
.section3_content_column {
  gap: 70px;
}
.designed_header {

  margin-left: 30px; 
}
.section1 {
  background-position-x: center;
  height: 53vw;
}
.button_watch {
  top: 24px;
  left: -262px;
}
.ellipse {
  width: calc(37%);
  height: calc(73%);
  top: 3px;
  left: calc(50% - 45px);
}
.feedback_wrapper {
  flex-direction: column;
  gap: 15px;
}
.feedback {
  width: 100%;
  height: 606px;
}
.feedback_card {
  height: 109px;
  width: 100%;
}
.feedback_content {
  height: 105px;
}
.feedback_title_p {
  -webkit-line-clamp: 2;
}
.slider {
  display: none;
}
 }
@media screen and (max-width: 770px) { 
  .header_nav {
    display: none;
  }
  .header {
    padding-left: 20px;
    padding-right: 20px;
    height: 34px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .header_burger {
    display: block;
  }
  .burger_block {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.2);
     transform: translateX(100%);
     transition: 0.7s all ease 0s;
  }
 
  .section1 {
    margin-bottom: 69px;
  }
  .burger_line {
    display: block;
  }
  .burger_block_active {
    transform: translateX(0);
  }
  .close_burger {
    position: absolute;
    z-index: 1;
    right: 10px;
  }
  .inactive {
    display: none;
  }
  .header_nav-mob {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px 4px 3px rgb(13 96 111 / 25%);
    border-radius: 10px;
    align-items: flex-start;
    position: fixed;
    padding-left: 10px;
    width: 100%;
    height: 329px;
    background: #fff;
  }
  .header_container {
    justify-content: space-between;
  }
  .header_logo {
    margin-right: 0;
    width: 0;
  }
  .header_logo img {
    top: 20px;
    left: 0;
  }
  .designed_header {
    display: none;
  }
  h1 {
    font-size: 12.2899px;
line-height: 120%;
border: none;
  }
 
  .header_nav {
    display: none;
  }
 
 
  .ellipse {
    width: 237px;
    height: 237px;
    top: 9px;
    left: calc(50% - 259px / 2 + 140px);
  }
  .titleElipse {
    font-size: 54px;
    line-height: 75%;
  }
  .elipse_title {
    top: 40px;
    left: 47px;
  }
  .button_watch {
    top: 34px;
    left: calc(3% - 318px);
  }
  .section2_content_img1000 {
    display: none;
  }
  .section2_content_title {
    margin-left: 29px;
}
  .section2_content {
    width: 495px;
  }
  .section2 {

    margin-top: 0px;
    justify-content: flex-start;
    margin-left: -7px;
  }
  .section2::after {
    content: url(../../assets/images/flower_foto1-tablet.png);
    right: 0;
    display: flex;
    bottom: -55px;
  }
  .title2 {
    margin-bottom: 30px;
  }
  .title3 {
    margin-bottom: 18px;
  }
  .section3 {
    margin-top: 80px;
  }
  .section3::before {
    content: url(../../assets/images/palm_foto-tablet.png);
    left: 0;
  }
  .section3::after {
    content: url(../../assets/images/strelitzia-tablet.png);
    right: 0;
  }
  .section3_btn {
    margin-top: 62px;
    margin-bottom: 100px;
  }
  .section3_animals {
    gap: 14px;
    align-items: center;
  }
  .arrow-small {
    gap: 31px;
  }
  .section3_content {
    width: 600px;
  }
  .section3_content_column {
    gap: 25px;
  }
  .section4_content {
    width: 100%;
    padding-top: 0;
    padding-bottom: 60px;
  }
  .section4_pay {
    gap: 42px;
    position: relative;
    margin-top: 20px;
    margin-right: 10px;
  }
  .arrow-mob {
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 120px;
    bottom: 156px;
    left: 139px;
  }
  .card_animals:hover .card_animals_title {
    transform: translate(0, -280px);
  }
  .animals_img {
    width: 285px;
    height: 285px
  }
  .logo p {
    font-size: 19px;
    padding: 2px
  }
  .section3_content_column {
    height: 332px;
  }
  .name_animals {
    font-size: 12.47px;
  }
  .home_animal {
    font-size: 11.6901px;
  }
  .card_animals_title {
    padding: 1px 8px 0px 11px;
  }
  .arrow-mob img {
    width: 86px;
  }
  .section4_vector {
    display: none;
  }
  .section_title_container {
    width: 600px;
    margin-bottom: 33px;
  }
  .section4_card_title {
    width: 181px;
  }
 
  .section4 {
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .section4_title_center {
    display: flex;
    padding-left: 19px;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 14px;
  }
  .section4_title2 {
    font-size: 22px;
  }
  .section4_title5 {
    margin-top: 30px;
  }
  .section4main {
    font-size: 42px;
    margin-top: 7px;
  }
  .section5::after {
    content: url(../../assets/images/leav_foto-tablet.png);
    right: 0;
    bottom: -72px;
  }
  .section5_content {
    margin-top: 23px;
    width: calc(100% - 40px);
  }
  .feedback_wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .feedback {
    width: 100%;
    height: 357px;
  }
  .feedback_card {
    height: 109px;
    width: 100%;
  }
  
  .feedback_title_p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .feedback_content {
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 14px;
    gap: 8px;
    height: 105px
  }
  .section5_btn {
    margin-bottom: 79px;
    align-self: center;
    width: 240px;
    margin-top: 40px;
  }
.footer_content {
  display: none;
}
footer {
  padding-bottom: 12px;
}
.footer-tablet {
  display: flex;
  flex-direction: row;
width: calc(100% - 40px);
padding-top: 12px;
justify-content: space-between;
}
.footer_list {
  gap: 36px;
}
.footer-column1 {
  display: flex;
  flex-direction: column;
}
.footer_nav {
  margin-left: 0;
}
.footer_btn {
  margin-top: 33px;
  margin-bottom: 96px;
}
.logo {
  margin-top: 0;
}
.footer-column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: flex-end;
}
.footer-mobile {
  display: none;
}
.footer_social {
  gap: 20px
}
 }
 @media screen and (max-width: 600px) {
.ellipse {
  width: 175px;
  height: 175px;
  top: 0;
}
.section1 {
  margin-bottom: 14px;
}
.designed_header {
  display: none;
}
h1 {
  font-size: 12.2899px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  border: none;
}
.header_logo {
  width: 47px;
}
.header_logo img {
  top: 19px;
  left: 3px;
}

.titleElipse {
  font-size: 32px;
  line-height: 77%;
}
.ellipse {
  left: calc(50% - 259px / 2 + 120px);
}
.elipse_title {
  left: 15px;
}
.button_watch-mobile {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  padding: 16px 35px;
  width: 298px;
  display: flex;
  justify-content: center;
  height: 54px;
  cursor: pointer;
  margin-bottom: 40px;
  margin-left: 0;
}
.button_watch {
  display: none;
}
 .section2 {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 0px;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12.2899px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  border: none;
}
.header_logo {
  width: 47px;
}
.header_logo img {
  top: 19px;
  left: 3px;
}

.titleElipse {
  font-size: 32px;
  line-height: 77%;
}
.section2::after {
  content: url(../../assets/images/flower_foto-mob.png);
  right: 0;
  display: flex;
  bottom: 47px;
}

.section2_content {
  width: calc(100% - 40px);
  margin-left: 0px;
}
.section3_btn {
  margin-top: 14px;
}
.section3::before {
  content: url(../../assets/images/palm_foto-mob.png);
  left: 0;
}
.section3::after {
  content: url(../../assets/images/strelitzia-mob.png);
  right: 0;
  bottom: -9px;
}
.section2_content_title {
  margin-left: 0px ;
}
.title1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.title2 {
  margin-bottom: 20px;
}
.title3 {
  margin-bottom: 10px;
}

.section3_content_column {
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.card_animals {
  width: 287px;
}
.section3 {
  margin-top: 36px;
}
.section3_content_column:first-child {
  display: none;
}
.section3_content {
  width: 300px;
}
.arrow-small {
  display: none;
}
.section4_content {
  width: calc(100% - 40px);
  padding-top: 12px;
  padding-bottom: 40px;
}
.section4_btn {
  margin-top: 34px;
}
.section4main {
  font-size: 24px;
}
.section5_content_title h3 {
  font-size: 24px;
}
.section4_title2 {
  font-size: 18px;
  text-align: center;
  margin-top: 21px;
}
.section4_title3 {
  display: none;
}
.section4_title4 {
  display: none;
}
.section4_title5 {
  font-size: 24px;
  margin-top: 20px;
}
.section4_card_title-mob {
  display: inline;
}
.section4_title_center {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4_pay {
  flex-direction: column;
  margin-right: 0px;
  gap: 39px;
}
.arrow-mob {
  flex-direction: column;
    gap: 219px;
    bottom: 251px;
    left: 141px;
}
.arrow-mob img {
  transform: rotate(82deg);
}
.section_title_container {
  display: none;
}
.section4_card {
  gap: 8px;
}
.section5_content {
  width: calc(100% - 40px);
}


 }
 @media screen and (max-width: 420px) {
  .footer-tablet {
   width: calc(100% - 10px);
  } 
  .footer-column2 {
    align-items: flex-start;
  }
  .designed_by p {
    font-size: 13px;
  }

 }
 @media screen and (max-width: 385px) {
  .footer-tablet {
    display: none;
  }
  .footer-mobile {
    width: 300px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.header {
  height: 34px;
  padding-left: 9px;
  padding-right: 9px;
}
.section1 {
  background-position: bottom center;
  height: 187px;
  margin-bottom: 20px;
}
.section2::after {
  bottom: 227px;
}
.ellipse {
  width: 119px;
  height: 119px;
  top: 23px;
  left: calc(50% - 119px / 2 + 62px);
}
.elipse_title {
  top: 19px;
  left: 22px;
}
h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12.2899px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  border: none;
}
.header_logo {
  width: 47px;
}
.header_logo img {
  top: 19px;
  left: 3px;
}

.header_list-burger {
  gap: 10px;
}
.titleElipse {
  font-size: 27.2px;
  line-height: 77%;
}


.section2_content {
  width: 300px;
  margin-left: 0px;
}
.section3_btn {
  margin-top: 14px;
  margin-bottom: 60px;
}

.section2_content_title {
  margin-left: 0px ;
}
.title1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.title2 {
  margin-bottom: 20px;
}
.title3 {
  margin-bottom: 10px;
}
#flowerBig {
  display: none;
}
.section3_content_column {
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.card_animals {
  width: 287px;
}
.section3 {
  margin-top: 36px;
}
.section3_content_column:first-child {
  display: none;
}
.section3_content {
  width: 300px;
}
.card_animals:hover .card_animals_title {
  transform: translate(0, -280px);
}
.arrow-small {
  display: none;
}


.section4_content {
  width: 300px;
  padding-top: 12px;
  padding-bottom: 40px;
}
.section4_btn {
  margin-top: 39px;
}
.section4main {
  font-size: 24px;
}
.section5_content_title h3 {
  font-size: 24px;
}
.section4_title2 {
  font-size: 18px;
  text-align: center;
  margin-top: 21px;
}
.section4_title3 {
  display: none;
}
.section4_title4 {
  display: none;
}
.section4_title5 {
  font-size: 24px;
  margin-top: 20px;
}
.section4_card_title-mob {
  display: inline;
}
.section4_title_center {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4_pay {
  flex-direction: column;
  margin-right: 0px;
  gap: 37px;
}
.arrow-mob {
  flex-direction: column;
    gap: 219px;
    bottom: 251px;
    left: 141px;
}
.arrow-mob img {
  transform: rotate(82deg);
}
.section_title_container {
  display: none;
}
.section4_card {
  gap: 8px;
}
.section5_content {
  margin-top: 5px;
  width: 300px;
}
.section5_btn {
  margin-bottom: 59px;
  margin-top: 30px;
}
.section5::after {
  content: url(../../assets/images/leav_foto-mob.png);
  right: 0;
  bottom: -33px;
}

  .feedback_content {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 14px;
    gap: 5px;
  }


footer {
padding-top: 20px;
padding-bottom: 20px;
}
.footer-tablet {
  display: none;
}

.footer_social {
  flex-direction: row;
  gap: 30px;
}
.logo-mob p {
  border: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
color: #FFFFFF;
text-align: center;
}
.logo-mob {
  width: 128px;
  height: 23px;
}

.logo-mob img {
  position: absolute;
  top: 18px;
  left: 170px;
}
.footer_btn {
  margin-top: 0;
  margin-bottom: 0;
}
.footer_list {
  gap: 30px;
}
.designed_by p { 
font-size: 15px;
 }
}